@{
    ViewBag.Title = "Björn Saeland";
}
<h1 style="text-align:center">@ViewBag.Title.</h1>


<div id="ElementBackground">

    <h3>@ViewBag.Message</h3>

    <p>
        Jag heter Björn Saeland, 26 år och bor i Trollhättan.
        Jag har studerat systemutveckling på Högskolan Väst i Trollhättan nu under 3 år och blev klar nu i sommar.<br />
        Jag är socialt lagd, trevlig, ärlig och lär mig snabbt och har ett mycket genuint intresse för det mesta IT-relaterat.<br />
        Jag har alltid haft ett IT-intresse och tycker det är fruktansvärt kul att se hur saker fungerar och relaterar till varandra och om jag skulle kunna göra förbättringar eller lösa processen på ett annat mer effektivt sätt.
    </p>

    <p>
        Innan jag började studera systemutveckling var jag snickare för att jag gillar att vara aktiv och arbeta med händerna och det uppkommer alltid mindre problem i ett arbete och detta var mycket roligt att lösa.<br />
        Detsamma gäller programmering och verksamhetsutveckling, det finns många sätt att göra rätt men det uppkommer alltid någon form utav problem som behöver åtgärdas.<br />
        Detta gör arbetet som programmerare och verksamhetsutvecklare mycket intressant eftersom det aldrig blir tråkigt.<br />

    </p>

    <p>
        Samtidigt som jag var snickare ville jag ha mitt IT och PC intresse som hobby och kanske tjäna pengar vid sidan av som applikationsutvecklare och eller PC moddare/PC hjälp.<br />
        Men efter jag fick ett uppdrag på Mechanum Sverige AB som IT-tekniker fick jag blodad tand och så jag började som sagt studera systemutveckling för att jag verkligen trivdes inom IT sektorn.<br />
    </p>

    <p>
        Samtidigt som jag är en IT-nörd så är jag också rätt aktiv fysiskt, jag tror det är bra att hålla en balans så att man håller sig pigg och kry.<br />
        Under sommaren så är det dock vattensport som gäller, jag är uppvuxen på landet vid en sjö och har utövat vattensport under en längre tid.<br />
        Jag åker allt från vattenskidor, kneeboard, wakesurf och wakeboard, fokus ligger dock på wakeboard som jag åker så ofta jag har tid.<br />
        Jag tror att det är nyttigt att vara aktiv för att vara fräsch på jobbet och må bra i kroppen. <br />

    </p>
</div>
<div id="ElementBackground">
    <p id="PictureBox">
        <img id="Pic1" src="~/Bilder/10553869_10152144487937271_5908167021446853973_o.jpg"  />

        <img id="Pic2" src="~/Bilder/10481552_10152144488842271_8673999463307609888_o.jpg"/>

        <img id="Pic3" src="~/Bilder/12322643_974488655968462_8729923153282193216_o.jpg" />
    </p> 
</div>