@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

    <address>
        Kungsgatan 74c<br />
        461 35 Trollhättan<br />
        <abbr title="Telefon">Telefon:</abbr>
        0767-125278
    </address>

    <address>
        <strong>Mail:</strong>   <a href="mailto:Von_Saeland@hotmail.se">Von_Saeland@hotmail.se</a><br />
    </address>