
@{
    ViewBag.Title = "CV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center">CV</h1>

<div id="ElementBackground">

    <p>
        Jag heter Björn Saeland, 26 år och bor i Trollhättan.
        Jag har studerat systemutveckling på Högskolan Väst i Trollhättan nu under 3 år och blir klar nu i sommar. <br />
        Jag är socialt lagd, trevlig, ärlig och lär mig snabbt och har ett mycket genuint intresse för det mesta IT-relaterat.<br />
        I systemutvecklingsprogrammet kan man under sitt tredje år välja en utav två vägar som är lite mer specialiserade.<br />
        1: Programmering<br />
        2: Verksamhetsutveckling<br /><br />
        Eftersom jag älskar att sitta och programmera så valde jag programmeringsvägen som gav en bättre insyn i olika plattformar, projektmetodik samt projektledning.<br />
        Mitt CV kan se lite tomt ut men det är för att jag är ny på IT-marknaden.<br />
        Jag är utbildad snickare och har jobbat som detta tidigare men att nämna mina tidigare jobb som snickare känns inte så relevant med tanke på att IT och husbyggnation är ett rätt bra hopp ifrån varandra.
        Dock så har jag inkluderat det allra senaste jobbet inom byggindustrin <br /> <br /> <br />
    </p>

    <p>
        Nedan har jag listat några olika kompetensonråden men fråga om det är något som ni tycker saknas 
    </p>
    <table>
        <tr>
            <th>
                Kompetens
            </th>
        <tr>
            <td>C#</td>
            <td>Java</td>
            <td>VisualStudio</td>
        </tr>
        <tr>
            <td>HTML</td>
            <td>CSS</td>
            <td>JavaScript</td>
        </tr>
        <tr>
            <td>ASP.net</td>
            <td>MVC</td>
            <td>Windows Forms</td>
            
        </tr>
        <tr>
            <td>Razor</td>
            <td>Linq</td>
            <td>Services (WCF)</td>
        </tr>
        <tr>
            <td>Cordova</td>
            <td>PHP</td>
            <td>Universal Windows Platform (UWP)</td>
        </tr>
        <tr>
            <td>SQL</td>
            <td>MySQL</td>
        </tr>
</table>
</div>

<div id="ElementBackground">
    <h2>Överblick</h2>

    <p>
        Jag är en aktiv person som alltid har haft ett fruktansvärt intresse för det mesta IT relaterat, så väl hårdvara som mjukvara.<br />
        Mitt intresse för IT har sedan 2013 utvecklats till ett genuint intresse för utveckling i takt med min utbildning som systemutvecklare på Högskolan Väst i Trollhättan.<br />
        I utbildningen har vi gått igenom de flesta programmeringsspråk som, Java, JavaScript, PHP, html, CSS, C# m.m.<br />
        Det var också strax innan studiestart som jag tog en fristående kurs och fick upp ögonen för C# och vilka dörrar det öppnar för en rastlös kille som mig,<br /> detta intresse har utvecklats och ökat till att inkludera i stort sätt hela .Net-familjen och alla dess plattformar från ASP, MVC till Forms, Universal och Cordova.<br />
        Som sagt så studerar jag systemutveckling men går ut på arbetsmarknaden nu efter mitt tredje år och ser väldigt ljust på att äntligen få visa vad jag kan och hur snabbt och mycket jag kan lära mig.<br />
        Planen eller min karriärstege börjar med att vara programmerare för att samla på mig kompetens för att bli en bra projektledare, efter rollen som projektledare vill jag ta på mig mer och bli systemarkitekt, detta tillsammans med lite utbildning vid sidan av hoppas jag kan öppna dörrar för att bli Enterprise arkitekt som är slutmålet just nu.<br />
        Om 3 till 5 år hoppas jag att jag har byggt på min kompetens som programmerare och har fått en insikt i hur ett projekt drivs i en verksamhet och kanske har jag också förtroendet att få rollen som projektledare.<br />
        I min utbildning som systemutvecklare har vi haft kurser i programmering, metoder och arbetssätt tillsammans med lika många kurser i verksamhetsutveckling som jag tror kommer hjälpa mig på vägen till projektledare.<br />
    </p>
</div>

<div id="ElementBackground">

    <div>
        <table>
            <tr>
                <th><h2>ARBETSLIVSERFARENHET</h2></th>
            <tr>
                <td><h4>Provkörning/programmering (2015)</h4></td>
            </tr>
            <tr>
                <td><h4>Lagerarbetare (2015)</h4></td>
            </tr>
            <tr>
                <td><h4>Lagerarbetare (2014)</h4></td>
            </tr>
            <tr>
                <td><h4>It-tekniker (2012 - 2013)</h4></td>
            </tr>
            <tr>
                <td><h4>It-tekniker (2012)</h4></td>
            </tr>
            <tr>
                <td><h4>Lagerarbetare (2012)</h4></td>
            </tr>
            <tr>
                <td><h4>Jag är tidigare utbildad snickare men har utelämnat jobb som snickare för att det inte är relevant längre.</h4></td>
            </tr>
        </table> 
    </div>
</div>