
@{
    ViewBag.Title = "Teknik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Teknik</h2>

<div id="ElementBackground">

    <h3>@ViewBag.Message</h3>

    <p>
        Snabbt förklarat!<br />
        I denna webbsida implementeras: <br/><br />
        MVC som innehåller Razor syntax.<br />
        En video som som spelar i en loop som bakgrund.<br />
        Ett fade filter som dämpar bakgrunden så att man inte blir yr på en gång. <br />
        Divar som har ett liknande men grövre filter så kontrasten mellan text och bakgrund höjs: <br />
        <br />
        Alla views(sidor) kommer ifrån en kontroller man används för funktionalitet och navigering.<br />
        <br />
        Webbsidan är knyten till en service som innehåller en par Items (kan vara varor eller vad som helst).<br />
        Servicen(eller tjänsten) implementerar CRUD funktioner som webbsidan kan använda.<br />
        <br />
        Sidan har också inlogg implementerat, dels lokalt men också via goodle och facebook.<br />
        <br />
        Sidan är också resonsiv så den passar lika bra oavsett storlek på förnster eller enhet som visar sidan.<br />
        <br />
        Det finns så klart mycket att göra och mycket som borde göras men denan sida är ämnad för att visa lite grunder på olika tekniker<br />
        och funktioner samnt inkludera delar utav mitt CV.<br />

    </p>
</div>